@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">The MVC framework is an architectural pattern which separates an application into three components 
     Model, View, Controller.  Each component is built for specific development aspect of an application. </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Application Tells about</h2>
        <p>
            This application explains how to build the booking history. 
            The sample application is a simple BookMyShow. With it, you can view and update 
            movie, theater, and Booking information.
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Install Entity Framework 6</h2>
        <p>
            An alternative is to let scaffolding automatically install the EF NuGet package, create the database context 
            class, and create the connection string. When you're ready to do it that way, all you have to do is skip those
            steps and scaffold your MVC controller after you create your entity classes.

        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Initializing DataBase</h2>
        <p>Entity Framework can automatically create (or drop and re-create) a database for you when the application runs.
        You can specify that this should be done every time your application runs or only when the model is out of sync 
        with the existing database. You can also write a Seed method that Entity Framework automatically calls after
        creating the database in order to populate it with test data.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Learn more &raquo;</a></p>
    </div>
    <h1> GitHub Link </h1>
    <href ="https://github.com/pathuribhavani/Exam_02"></href>
</div>